.icon-lupa {
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
}
.search-form {
  display: flex;
  gap: 6px
  
}

.search-input {
  border-radius: 25px;
  border: 2px solid var(--brown);
  background-color: transparent;
  font-family: 'Neue Montreal Light';
  color: var(--brown);
  outline-offset: none;
  outline: none;
  height: 25px;
  padding: 6px;
}

.search-input::placeholder {
  color: var(--brown);
  font-family: 'Neue Montreal Regular';
  opacity: 0.8;
}

.search-input:focus {
  border: 2px solid var(--orange);
  opacity: 0.8;
}



