@font-face {
  font-family: 'Neue Montreal Regular';
  src: url('../assets/fonts/NeueMontreal-Regular.woff2') format('woff2');
  
}

@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('../assets/fonts/NeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal Light ';
  src: url('../assets/fonts/NeueMontreal-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal Light Italic';
  src: url('../assets/fonts/NeueMontreal-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal Bold';
  src: url('../assets/fonts/NeueMontreal-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal Thin';
  src: url('../assets/fonts2/PPNeueMontreal-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal Thin Italic';
  src: url('../assets/fonts2/PPNeueMontreal-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('../assets/editorial-new-font-family/PPEditorialNew-Ultralight.woff2') format('woff2');
}