.form-consulta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 6rem 2rem;
  background-color: var(--beige);
}
.large-txt-wrapper {
  margin-bottom: 0.7rem;
}

.large-txt {
  font-family: 'Neue Montreal Regular';
  font-size: var(--large-font-size);
  color: var(--brown);
  line-height: 100%;
}

.small-txt {
  font-family: 'Neue Montreal Medium';
  font-size: var(--very-small-font-size);
  color: var(--brown);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 2rem;
}

.insta-whsapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
  border-radius: 0;
  padding: 5px;
  transition: border-color 0.3s, color 0.3s;
}

input::placeholder {
  color: var(--pink);
}
