.banner-container {
  display: flex;
  width: 100%;
}

.banner-gender-big {
  width: 100%;
    @media (max-width: 400px) {
    display: none;
  }

}

.banner-gender-small {
  width: 100%;
  @media (min-width: 401px) {
    display: none;
  }

}